/* Améliorations visuelles du site */


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    background-image: url('../public/service-desk-informatique-.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333; 
}

/* Form-container */
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95); /* Légèrement plus opaque pour améliorer la lisibilité du texte */
    border: 1px solid #cccccc;
    border-radius: 5px; /* Plus grand pour un aspect plus moderne */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Ombre plus prononcée */
}

/* Form-field */
.form-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Légèrement plus arrondi pour un aspect plus doux */
    font-size: 14px; /* Augmentation de la taille de police pour une meilleure lisibilité */
}

/* Styles de base pour les boutons */
.form-button, .connect-button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    width: 150px; /* Largeur fixe pour tous les boutons */
    text-align: center;
    font-size: 16px; /* Taille de police uniforme pour les boutons */
    border-radius: 25px; /* Bord arrondi pour un look moderne */
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition douce pour les effets */
}

.form-button {
    padding: 10px 20px;
    background-color:  #00FF7F;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 10px 10px 0;
    width: 150px;
    text-align: center;
    font-size: 16px; /* Taille de police pour les boutons */
}

/* Styles spécifiques pour les différents types de boutons */
.form-button[type="reset"] {
    background-color: #FF0000;
}

.connect-button {
    background-color: #2a63a0;
    border-radius: 5px; /* Bord moins arrondi pour différencier les boutons */
}

/* Suppression de l'effet de survol calqué */
.connect-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Légère augmentation de taille au survol */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Ombre portée pour le relief */
}

.connect-button:active {
    background-color: #003080;
    transform: scale(0.95); /* Légère réduction de taille lors du clic */
}

/* Centrage des boutons dans leur conteneur */
.footer-container {
    text-align: center; /* Centrage du texte et des éléments inline */
    margin-top: 10px;
    color: #FF0000;
}

/* Ajout d'un conteneur pour centrer les boutons */
.button-container {
    text-align: center; /* Centrage des boutons */
}
